@import url("https://fonts.googleapis.com/css?family=Open+Sans:600, 300");
*, *::after, *::before {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black !important;
  font-family: "Open Sans", sans-serif;
}

.header {
  position: absolute;
  top: 100px;
  font-size: 24px;
}
.header__title {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.rule {
  margin: 0 50px 0 0;
}
.rule__content {
  display: flex;
}
.rule__color {
  width: 50px;
  height: 50px;
  margin: 0 20px 20px 0;
}
.rule__text {
  font-size: 20px;
  margin-top: 10px;
  color: white;
}

.color-1 {
  background-color: #16a085;
}

.color-2 {
  background-color: #2980b9;
}

.color-3 {
  background-color: #34495e;
}

.color-4 {
  background-color: #f39c12;
}

.color-5 {
  background-color: #d35400;
}

.color-6 {
  background-color: #c0392b;
}

.wheel {
  width: 312px;
  height: 312px;
  border-radius: 50%;
  border: solid 6px #fff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.wheel__inner {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 5s;
}
.wheel__sec {
  position: absolute;
  top: 0;
  left: 62px;
  width: 0;
  height: 0;
  border: solid;
  border-width: 150px 88px 0;
  border-color: transparent;
  transform-origin: 50% 100%;
}
.wheel__sec:nth-child(1) {
  border-top-color: #16a085;
}
.wheel__sec:nth-child(2) {
  border-top-color: #2980b9;
  transform: rotate(60deg);
}
.wheel__sec:nth-child(3) {
  border-top-color: #34495e;
  transform: rotate(120deg);
}
.wheel__sec:nth-child(4) {
  border-top-color: #f39c12;
  transform: rotate(180deg);
}
.wheel__sec:nth-child(5) {
  border-top-color: #d35400;
  transform: rotate(240deg);
}
.wheel__sec:nth-child(6) {
  border-top-color: #c0392b;
  transform: rotate(300deg);
}
.wheel__text {
  margin: 70px 0 0 70px;
}
.wheel__arrow {
  width: 70px;
  height: 70px;
  background: #fff;
  position: absolute;
  top: 121px;
  left: 115px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.wheel__arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: solid;
  border-width: 0 10px 20px;
  border-color: transparent;
  border-bottom-color: #fff;
  top: -15px;
  left: 25px;
}
.wheel__button {
  width: 60px;
  height: 60px;
  background-color: lightgray;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 20px 0 0 0;
}
.wheel__button:hover {
  color: #26AE60;
}
.wheel__button:active {
  border: solid 3px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.popup {
  position: fixed;
  width: 30vw;
  top: 0;
  left: 50%;
  transform: translate(-50%, -110%);
  background: #fff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  transition: all 0.5s;
  opacity: 0;
}
.popup.active {
  transform: translate(-50%, 0);
  opacity: 1;
}
.popup__emotion {
  color: #f39c12;
  text-align: center;
  font-size: 30px;
  margin: 0 0 25px 0;
}
.popup__note {
  text-align: center;
}

.congratulation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}
.congratulation__container {
  width: 40vw;
  padding: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.congratulation__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #c0932b;
  cursor: pointer;
  transition: all 0.5s;
}
.congratulation__close:hover {
  transform: rotate(360deg);
}
.congratulation__emotion {
  color: #f39c12;
  text-align: center;
  margin: 0 0 20px 0;
}
.congratulation__note {
  text-align: center;
}/*# sourceMappingURL=style.css.map */